<%- include('partials/header'); %>
<%- include('partials/navbar', {btn:"logout"}); %>

<section class="jumbotron text-center mt-2">
    <div class="container">
      <h1 class="jumbotron-heading text-success">Congrats on coming to the admin page.</h1>
    <p>Here is the secret <a href="secret.tar.gz">File</a></p>
    
    </div>
  </section>