<%- include('partials/header'); %>
<%- include('partials/navbar', {btn:"logout"}); %>

<section class="jumbotron text-center mt-2">
    <div class="container">
      <h1 class="jumbotron-heading text-success">Congrats on coming to the admin page.</h1>
    <p>The flag is hidden in plain sight.</p>
    <!-- [REDACTED] -->
    
    </div>
  </section>