<%- include('partials/header'); %>
<%- include('partials/navbar', {btn:"login"}); %>

<section class="jumbotron text-center mt-2">
    <div class="container">
      <h1 class="jumbotron-heading"> <a href="/login">Login</a>  before applying for jobs.</h1>
    </div>
  </section>
