<%- include('partials/header'); %>
<%- include('partials/navbar', {btn:"login"}); %>

<div class="container">
    <h1 class="row">Sign Up</h1>

    <% if(typeof signedUp !== 'undefined'){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Signup Success
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
    <% } %>

    <form action="/signup" class="container my-4" method="POST">
    <div class="row my-1">
        <label class="col-2"> Email  </label>
        <input class="col-3" name="email" type="email" required>
    </div>
    <% if (typeof userExists !== 'undefined'){ %>
    <div class="row" class="text-alert">User already exists.</div>
    <% } %>
    <div class="row my-1">
        <label class="col-2"> Password  </label>
        <input class="col-3" name="password" type="password" required>
    </div>
    <div class="row justify-content-center">
    <input type="submit" class="btn btn-success btn-sm col-1" name="submit" value="Submit">
    </div>
    </form>

