{
	"PORT": PORT,
	"mongoString": "",
	"bcrypt": {
		"saltRounds":SALTROUNDS
	},
	"jwtSecret": "SECRET",
	"cookieExpTime": EXPTIME,
	"adminEmail": "ADMINEMAIL",
	"adminPassword": "ADMINPASS",
	"flag": "P_CTF{REDACTED}"
}
